.container {
  display: flex;
  padding: 50px 30px;
  justify-content: space-between;
}

.nav-btn {
  border: none;
  background: none;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 0 
}

nav .navbar .link {
  
}